[Desktop Entry]
Name=Integrapptor
GenericName=Work Browser
Exec=/usr/lib/integrapptor/integrapptor %u
Icon=chromium
Type=Application
Terminal=false
Categories=Network;WebBrowser;
Keywords=Browser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;